@font-face {
  font-family: "DungGeunMo";
  font-style: normal;
  font-weight: normal;
  src: url("Font/DungGeunMo.eot");
  src: url("Font/DungGeunMo.eot?#iefix") format(‘embedded-opentype’), url("Font/DungGeunMo.woff") format(‘woff’);
}

html,
body,
* {
  font-family: "둥근모꼴", "DungGeunMo", DungGeunMo;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  width: 50vw;
  height: 50vh;
  border: 1px solid #ffffff;
  align-items: center;
  justify-content: space-evenly;
}
.App {
  background-color: #000000;
  min-height: 100vh;
  font-size: calc(15px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*animation*/

.blink {
  animation: blink-animation 2s steps(2, start) infinite;
  -webkit-animation: blink-animation 2s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Size */

.sm {
  height: 1.5em;
}

/* flex position */
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.baseline {
  align-items: baseline;
}

/* div */

.header {
  margin: 0 0 10px;
}

.flag {
  margin-left: 10px;
}
